:root {
    --default-padding: 7.5px;
    --infobar-width: 400px;
    --infobar-close-width: 0px;
}

#map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.infobar-container {
    position: absolute;
    width: var(--infobar-width);
    top: var(--default-padding);
    left: var(--default-padding);
    bottom: var(--default-padding);
    transition: .5s;
}

.infobar-description {
    padding-left: 15px;
    padding-right: 15px;
}

body, html {
    min-width: 750px;
}

#toggle {
    position: absolute;
    left: calc(var(--infobar-width));
    top: 50vh;
}

#open {
    left: var(--default-padding);
}

#close {
    left: calc(var(--infobar-close-width) - var(--infobar-width));
}